@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Montserrat:wght@400;500&family=Poppins:wght@300;400;500&family=Prompt:wght@900&family=Roboto:wght@400;900&family=Vazirmatn:wght@300&display=swap');

.percent{
    font-family: 'Montserrat', sans-serif;
}

.card{
    background: rgba(17, 17, 17, 0.493);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(17, 17, 17, 0.31);
}