.fivecard{
    background: rgba(124, 47, 231, 0.057);
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(181, 181, 181, 0.171) inset;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(17, 17, 17, 0.31);
}